
@mixin container {
  max-width: 1180px;
  margin: 0 auto;
  width: 98%;
  padding-left: 10px;
  padding-right: 10px;
  @include _1199 {
    max-width: 1070px;
    width: 98%;
    //padding-left: 10px;
    //padding-right: 10px;
  }
  @include _1024 {
    max-width: 1000px;

  }
  @include _991 {
    max-width: 970px;
  }
  @include _767 {
    max-width: 100%;
    width: 100vw;
  }
}
